<h1>indexed & appcache検証</h1>
<h2>INDEXEDDB検証(localForage)</h2>
<ol>
  <li>
    保存ボタンの隣のテキストボックスに値を入力
  </li>
  <li>
    保存ボタンを押下
  </li>
  <li>
    取得ボタンを押下
  </li>
  <li>
    取得ボタンの隣のテキストボックスに値が表示されることを確認
  </li>
  <li>
    <a href="http://masaki-kusuhata.github.io/sampleApp">ここ</a>をクリックする
  </li>
  <li>
    LANケーブルを抜く
  </li>
  <li>
    取得ボタンを押下
  </li>
  <li>
    取得ボタンの隣のテキストボックスに値が表示されることを確認
  </li>
</ol>
<div class="">
  <input type="text" name="test" ng-model="$ctrl.input" value="">
  <button type="button" class="btn btn-default" ng-click="$ctrl.save()">保存</button>
</div>
<div>
  <input type="text" name="test" ng-model="$ctrl.text" value="">
  <button type="button" class="btn btn-default" ng-click="$ctrl.get()">取得</button>
</div>

<h2>INDEXEDDB検証(dexie.js)</h2>
<ol>
  <li>
    保存ボタンの隣のテキストボックスに値を入力
  </li>
  <li>
    保存ボタンを押下
  </li>
  <li>
    取得ボタンを押下
  </li>
  <li>
    取得ボタンの隣のテキストボックスに値が表示されることを確認
  </li>
  <li>
    <a href="http://masaki-kusuhata.github.io/sampleApp">ここ</a>をクリックする
  </li>
  <li>
    LANケーブルを抜く
  </li>
  <li>
    取得ボタンを押下
  </li>
  <li>
    取得ボタンの隣のテキストボックスに値が表示されることを確認
  </li>
</ol>
<div class="">
  <input type="text" name="test" ng-model="$ctrl.input2" value="">
  <button type="button" class="btn btn-default" ng-click="$ctrl.save2()">保存</button>
  {{$ctrl.status}}
</div>
<div>
  <input type="text" name="test" ng-model="$ctrl.text2" value="">
  <button type="button" class="btn btn-default" ng-click="$ctrl.get2()">取得</button>
</div>
